*.pyc
*.swp
*.out
*.tar.gz
build/
test/unitTestOutput.txt
test/stdout.log
smodels.egg-info/
dist/
old/
.project
.pydevproject
.pybuild
.settings
smodels.log
summary.txt
pythia_lhe
lib/pythia8/pythia8.exe
recipes/*.py
recipes/*.html
recipes/.ipynb_checkpoints
recipes/tmp.slha
lib/nllfast/nllfast-1.2/nllfast_7TeV
lib/nllfast/nllfast-2.1/nllfast_8TeV
lib/nllfast/nllfast-3.1/nllfast_13TeV
lib/nllfast/nllfast-4.01dcpl/nllfast_14TeV
lib/nllfast/nllfast-5.01dcpl/nllfast_33TeV
lib/nllfast/nllfast-1.2/old/
lib/nllfast/nllfast-2.1/fort.21
lib/pythia6/fort.61
lib/pythia6/pythia_card.dat
debian/files
debian/python-module-stampdir/
debian/smodels.debhelper.log
debian/smodels.postinst.debhelper
debian/smodels.prerm.debhelper
debian/smodels.substvars
debian/smodels/
test/unitTestOutput/*.smodels
test/unitTestOutput/sms_output.*
test/unitTestOutput/summary_print.txt
results/
test/unitTestOutput/
distribution/create.log
distribution/smodels-*
docs/manual/source/recipes/*.html
docs/manual/source/recipes/*.py
docs/manual/source/XSecComputer.rst
docs/manual/source/RunSModelS.rst
docs/manual/source/LheChecker.rst
docs/manual/source/SlhaChecker.rst
docs/manual/source/ToolBox.rst
docs/manual/source/DatabaseBrowser.rst
test/database/database*.pcl
lib/pythia8/pythia82*
lib/pythia8/xml.doc
*~
*.crash

