*.pyc
*.swp
build/
smodels.egg-info/
dist/
.project
recipes/recipe*.py
recipes/recipe*.html
recipes/.ipynb_checkpoints
.pydevproject
smodels.log
pythia_lhe
tools/external/nllfast/nllfast-1.2/nllfast_7TeV
tools/external/nllfast/nllfast-2.1/nllfast_8TeV
tools/external/nllfast/nllfast-3.0/nllfast_13TeV
tools/external/nllfast/nllfast-4.01dcpl/nllfast_14TeV
tools/external/nllfast/nllfast-5.01dcpl/nllfast_33TeV
tools/external/nllfast/nllfast-1.2/nllfast7.tar.gz
tools/external/nllfast/nllfast-1.2/old/
tools/external/nllfast/nllfast-2.1/nllfast8.tar.gz
tools/external/nllfast/nllfast-1.2/gg.out
tools/external/nllfast/nllfast-1.2/sb.out
tools/external/nllfast/nllfast-1.2/sg.out
tools/external/nllfast/nllfast-1.2/st.out
tools/external/nllfast/nllfast-1.2/ss.out
tools/external/nllfast/nllfast-2.1/gg.out
tools/external/nllfast/nllfast-2.1/sb.out
tools/external/nllfast/nllfast-2.1/sg.out
tools/external/nllfast/nllfast-2.1/gdcpl.out
tools/external/nllfast/nllfast-2.1/ss.out
tools/external/nllfast/nllfast-2.1/st.out
tools/external/nllfast/nllfast-2.1/fort.21
tools/external/nllfast/nllfast-3.0/gg.out
tools/external/nllfast/nllfast-4.01dcpl/gdcpl.out
tools/external/nllfast/nllfast-5.01dcpl/gdcpl.out
tools/external/nllfast/nllfast-3.0/sb.out
tools/external/nllfast/nllfast-3.0/sg.out
tools/external/nllfast/nllfast-3.0/ss.out
tools/external/nllfast/nllfast-3.0/st.out
tools/external/nllfast/nllfast-3.0/gdcpl.out
tools/external/nllfast/nllfast-4.01dcpl/st.out
tools/external/nllfast/nllfast-5.01dcpl/st.out
tools/external/pythia6/fort.61
tools/external/pythia6/pythia_card.dat
old/
