*.pyc
*.swp
*.out
*.tar.gz
build/
test/unitTestOutput.txt
test/stdout.log
smodels.egg-info/
dist/
old/
.project
.pydevproject
.pybuild
.settings
smodels.log
summary.txt
pythia_lhe
smodels/lib/pythia8/pythia8.exe
recipes/*.py
recipes/*.html
recipes/.ipynb_checkpoints
recipes/tmp.slha
smodels/lib/nllfast/nllfast-1.2/nllfast_7TeV
smodels/lib/nllfast/nllfast-2.1/nllfast_8TeV
smodels/lib/nllfast/nllfast-3.1/nllfast_13TeV
smodels/lib/nllfast/nllfast-4.01dcpl/nllfast_14TeV
smodels/lib/nllfast/nllfast-5.01dcpl/nllfast_33TeV
smodels/lib/nllfast/nllfast-1.2/old/
smodels/lib/nllfast/nllfast-2.1/fort.21
smodels/lib/pythia6/fort.61
smodels/lib/pythia6/pythia_card.dat
debian/files
debian/python-module-stampdir/
debian/smodels.debhelper.log
debian/smodels.postinst.debhelper
debian/smodels.prerm.debhelper
debian/smodels.substvars
debian/smodels/
test/unitTestOutput/*.smodels
test/unitTestOutput/sms_output.*
test/unitTestOutput/summary_print.txt
results/
cpp/run
cpp/libSModelS.so
test/unitTestOutput/
distribution/create.log
distribution/smodels-*
docs/manual/source/recipes/*.html
docs/manual/source/recipes/*.py
test/database/*.pcl
test/database/**/*.pcl
test/tinydb/*.pcl
test/tinydb/**/*.pcl
smodels/lib/pythia8/.*.tgz
smodels/lib/pythia8/pythia822*
smodels/lib/pythia8/xml.doc
docs/manual/source/DatabaseBrowser.rst
docs/manual/source/LheChecker.rst
docs/manual/source/RunSModelS.rst
docs/manual/source/SlhaChecker.rst
docs/manual/source/ToolBox.rst
docs/manual/source/XSecComputer.rst
*~
.http*
*.crash
.http*
