Source: smodels
Section: science
Priority: extra
Maintainer: Wolfgang Waltenberger <wolfgang.waltenberger@gmail.com>
Build-Depends: debhelper (>= 5), make, python-argparse, python-numpy, python-scipy

Package: smodels
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-numpy, python-scipy, python-argparse 
Description: SModelS -- A tool for interpreting simplified-model results from the LHC, see http://smodels.hephy.at.
 .
 SModelS is based on a general procedure to decompose Beyond the Standard Model (BSM)
 collider signatures presenting a Z2 symmetry into Simplified Model Spectrum (SMS)
 topologies. Our method provides a way to cast BSM predictions for the LHC in a
 model independent framework, which can be directly confronted with the relevant
 experimental constraints. Our concrete implementation currently focusses on
 supersymmetry searches with missing energy, for which a large variety of SMS results
 from ATLAS and CMS are available. The main ingredients are:
 .
   - the decomposition of the BSM spectrum into SMS topologies
   - a database of experimental SMS results
   - the interface between decomposition and results database (to check limits)

 If you use it in a scientific publication, please cite: EPJC May 2014, 74:2868.


